[Unit]
Description=Syncs EWS and Google Calendars
Wants=twothings-calendar-sync.timer

[Service]
ExecStart=/usr/bin/python3.7 -c 'from twothings.calendar.sync import CalendarSync; CalendarSync().calendar_sync_ews_to_google()'

[Install]
WantedBy=multi-user.target
